<html>
        <head>
            <title>Update Friends</title>
        </head>
        <body>
            <p> Update friend with id: {{one_friend['id']}}</p>
            <form action='/update_friend/{{one_friend['id']}}' method='POST'>
                <label for="first_name">First Name:<input type="text" value={{one_friend['first_name']}} name="first_name" id="first_name"></label>
                <label for="last_name">Last Name:<input type="text" name="last_name" value={{one_friend['last_name']}} id="last_name"></label>
                <label for="occupation">Occupation:<input type="text" name="occupation" value={{one_friend['occupation']}} id="occupation"></label>
                <!-- <label for="id">ID:<input type="text" value={{one_friend['id']}} name="id" id="id"></label> -->
                <input type="submit" value="Update">
            </form>
            <hr>
            <p> Delete friend with id: {{one_friend['id']}}</p>
            <form action='/remove_friend/{{one_friend['id']}}' method='POST'>
                <p>First Name: {{one_friend['first_name']}} </p>
                <p>Last Name: {{one_friend['last_name']}} </p>
                <p>Occupation: {{one_friend['occupation']}} </p>
                <input type="submit" value="Delete">
            </form>
            <hr>
        </body>
    </html>